
.vs/*
WebAPI/obj/*

# Build results
# WebAPI/[Dd]ebug/*
# WebAPI/[Dd]ebugPublic/
# WebAPI/[Rr]elease/
# WebAPI/[Rr]eleases/
# WebAPI/x64/
# WebAPI/x86/
# WebAPI/build/
# WebAPI/bld/
# WebAPI/[Bb]in/
# WebAPI/[Oo]bj/
# WebAPI/msbuild.log
# WebAPI/msbuild.err
# WebAPI/msbuild.wrn
WebAPI/bin/[Dd]ebug/*

spa/.DS_Store
spa/node_modules
spa/dist

# spa environment files
spa/.env.local
spa/.env.*.local

# spa Log files
spa/npm-debug.log*
spa/yarn-debug.log*
spa/yarn-error.log*
spa/pnpm-debug.log*

# spa Editor directories and files
spa/.idea
spa/.vscode
spa/*.suo
spa/*.ntvs*
spa/*.njsproj
spa/*.sln
spa/*.sw?
